.full-container {
    height: 60vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    .title {
        text-align: center;
        font-size: 10rem;
        font-weight: 100;
        margin: 0;

        span {
            font-weight: 700;
            opacity: 0;
            transition: opacity 1s;
        }

        .fade-in {
            opacity: 1;

        }
    }
}