.full-container{
    width: 100% ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item-description{

    font-size: 7rem;
    font-weight: 700;
    margin: 0;
}

.upload-file{
    width: 100%;
    height: 100%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    border: 2px dashed #09c993;
    span{
        margin-top: 1rem;
    }
}

.main-container-watermark{
    width: 75%;
    display: flex;
}

.item-watermark{
    width: 45%;
    padding: 1rem;
}

.info-section{
    i{
        font-size: 2rem;
    }
    .merge-icon{
        animation: increase-decrease 1s infinite;
    }
}

@keyframes increase-decrease {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.downlaod-button{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.action-button:hover i{
    transform: rotate(360deg);
    transition: transform 0.5s;
}