//universal styles
@import "primeicons/primeicons.css";

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



//make main scrollable
scrollable-y{
    overflow-y: auto;
    height: 100vh;
}