<div class="full-container">
  <section class="section-nav">

    <button class="buttons-nav" (click)="changeActiveTabService('home')">
      <div>
        <i class="pi pi-prime icon-nav-bar"></i>
      </div>
    </button>


    <button class="buttons-nav" (click)="changeActiveTabService('home')"
    [ngClass]="{'selected-button': activeItem === 'home'}">
      <div>
        <i class="pi pi-home icon-nav-bar"></i>
      </div>
    </button>

    <button class="buttons-nav" (click)="changeActiveTabService('merge')"
    [ngClass]="{'selected-button': activeItem === 'merge'}">
      <div>
        <i class="pi pi-arrow-down-left-and-arrow-up-right-to-center icon-nav-bar"></i>
      </div>
    </button>

    <button class="buttons-nav" (click)="changeActiveTabService('split')"
    [ngClass]="{'selected-button': activeItem === 'split'}">
      <div>
        <i class="pi pi-arrow-up-right-and-arrow-down-left-from-center icon-nav-bar"></i>
      </div>
    </button>

    <button class="buttons-nav" (click)="changeActiveTabService('lock')"
    [ngClass]="{'selected-button': activeItem === 'lock'}">
      <div>
        <i class="pi pi-lock icon-nav-bar"></i>
      </div>
    </button>

    <button class="buttons-nav" (click)="changeActiveTabService('watermark')"
    [ngClass]="{'selected-button': activeItem === 'watermark'}">
      <div>
        <i class="pi pi-image icon-nav-bar"></i>
      </div>
    </button>

    <button class="buttons-nav" (click)="changeActiveTabService('enumerate')"
    [ngClass]="{'selected-button': activeItem === 'enumerate'}">
      <div>
        <i class="pi pi-sort-numeric-down icon-nav-bar"></i>
      </div>
    </button>
  </section>


  <section class="section-nav">

    <button class="buttons-nav" (click)="showDialog()">
      <div>
        <i class="pi pi-info-circle icon-nav-bar" ></i>
      </div>
    </button>
  </section>

  <p-dialog [modal]="true" header="About texAIs" [(visible)]="showInfoDialog">
    <p>
      In 2024 Alejandro Andrade and Mateo Garciea created texAIs. <br>
      texAIs is a tool that allows you to merge, split, lock, watermark and enumerate PDF files. <br>
      Texais is a full free prodducitvity tool, tham aims to grow and solve documents and files problems <br>.

    </p>
  </p-dialog>



</div>